<table class="table table-sm table-striped table-bordered table-hover">
  <thead class="thead-dark"> 
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">PRICE</th>
      <th scope="col">24HR HIGH</th>
      <th scope="col">24HR LOW</th>
      <th scope="col">MARKET CAP</th>
    </tr>
  </thead>
  <% if @prices["DISPLAY"]%>
  <% @prices["DISPLAY"].each do |key, value|%>
  <tbody>
    <tr>
      <td> <%= key %></td>
      <td><%= value["USD"]["PRICE"]%></td>
      <td><%= value["USD"]["HIGHDAY"]%></td>
      <td><%= value["USD"]["LOWDAY"]%></td>
      <td><%= value["USD"]["MKTCAP"]%></td>
    </tr>
     <% end%>
     <% else %>
     <h3>Live feed temporarily unavailable<h3>
     <% end %>
  </tbody>
</table>
</br>
</br>

<div class="container">
   <div class="row">
   <% if @news["Data"] %>
        <% for x in @news["Data"] %>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                <img src="<%= x["imageurl"]%>" class="card-img-top" alt="<%= x["source"]%>">
                <div class="card-body">
                    <h5 class="card-title"><%= x["title"]%></h5>
                    <p class="card-text"><%= x["body"]%></p>
                    <a href="<%= x["url"]%>" class="btn btn-secondary">Read More....</a>
                </div></br>
                </div></br>
            </div> 
        <% end%>
        <% else %>
        <h3>Live News Data Unavailable<h3>
        <% end%>
    </div>
</div>